
<div class="row portfolio-container">

    {% for valeur in table %}
        <div class="col-lg-4 col-md-6  portfolio-item  {{ 'filter-'~valeur.getFilter()}}">
            <div class="portfolio-wrap">
                <img Style="max-width: 100% ; min-width: 100% ; height: 300px" src={{ valeur.img1}} class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>{{ valeur.name}}</h4>
                    <p>{{ valeur.description}}</p>
                    <div class="portfolio-links">
                        <a href={{ valeur.img2}} data-gallery="portfolioGallery" class="portfolio-lightbox"
                           title={{ valeur.name}}><i class="bx bx-plus"></i></a>
                        {% if (valeur.name in eventsnames) %}
                            <a href="{{ path('unfollowingsevent',{'eventname':valeur.name}) }}"><button id="follow-button">Following</button></a>
                        {% else %}
                            <a href="{{ path('followingsevent',{'eventname':valeur.name}) }}"><button id="follow-button">+ Follow</button></a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

    {%  endfor %}
</div>

