<!-- ======= About Section ======= -->
<section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

        <div class="section-title">
            <h2>About Us</h2>
            <p>Learn more about us</p>
        </div>

        <div class="row">
            <div class="col-lg-3" data-aos="fade-right">
                <img id="logo" src={{ club.getImg1()}} alt="">

            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                {% if (state== 'unfollowed') %}
                <a href="{{ path('followings',{'clubname':club.name}) }}"><button id="follow-button">+ Follow</button></a>
                {% endif %}
                {% if (state=='followed') %}
                    <a href="{{ path('unfollowings',{'clubname':club.name}) }}"><button id="follow-button">Following</button></a>
                {% endif %}
                <h3>{{ club.getOtherInformation()}}</h3>
                <p class="fst-italic">
                    {{ club.getDescription()}}
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>{{ club.getBirthday()}}</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Slogan:</strong> <span>{{ club.getSlogan()}}</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{ club.getPhone()}}</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>{{ club.getCity()}}</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>{{ club.getBirthday()}}</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Working Hours:</strong> <span>{{ club.getHours()}}</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Registration fees:</strong> <span>{{ club.getFees()}}</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>other information:</strong> <span>{{ club.getOtherInformation()}}</span></li>

                        </ul>
                    </div>
                </div>
                <p>
                    {{ club.getDescription()}}          </p>
            </div>
        </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div class="counts container">

        <div class="row">

            {#  set Counts = [
                {'nom':'National competitions','number':'142','class':'bi-list-check'},
            {'nom':'International competitions','number':'19','class':'bi-globe'},
            {'nom':'Members','number':'98','class':'bi-people-fill'},
            {'nom':'Awards','number':'96','class':'bi-award'}]#}
            {{ include('clubPage/fragments/count.html.twig',{}) }}

        </div>

    </div><!-- End Counts -->

    <!-- ======= Domains  ======= -->
    <div class="skills container">

        <div class="section-title">
            <h2>Fields</h2>
        </div>

        <div class="row skills-content">
            {#  set Fields = [
                {'nom':'Robotic','pourcentage':'100%'},
                {'nom':'Aeronotic','pourcentage':'100%'},
                {'nom':'Industry','pourcentage':'90%'},
                {'nom':'Electronic','pourcentage':'95%'},
                {'nom':'Algorithm','pourcentage':'80%'},
                {'nom':'Social','pourcentage':'75%'} ]#}
            {{ include('clubPage/fragments/field.html.twig',{}) }}
        </div>

    </div><!-- End Skills -->


    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

        <div class="section-title">
            <h2>Executive Board</h2>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                {#   set Staff=[
                    {'nom':'MED YASSINE KOUBAA','description':' An ambitious and a hard worker
            engineering student who is
            around for the 4th year as
            member in the club.
            He is an all-rounder and the one
            to go to for help. He loves coming
            up with new ideas and learning
            new tricks and he is always open
            for new technologies       ','poste':'Technical Vice President','img':"/assets/img/Clubs/Aerobotix/board/vpt.png"},
                    {'nom':'YASSMINE BEN AMEUR','description':'A wise and hospitable
                            engineer. She has a genius
                            for solving problems.
                            Her love to technological
                            innovation and robotics
                            in particular led her to join
                            AeRobotix INSAT or
                            "the paradise" and "the family"
                            as she calls it.','poste':'President','img':"/assets/img/Clubs/Aerobotix/board/prez.png"},
                    {'nom':'WAFA ABID','description':'An ambitious and enthusiastic
                            engineering student. She is
                            passionate about robotics
                            and embedded systems.
                            Her experience and regulation
                            made her a good fit in her new
                            position.        ','poste':'Administrative Vice President','img':"/assets/img/Clubs/Aerobotix/board/vpa.png"},
                    {'nom':'AMIRA BEZINE','description':' A software engineering student,
                            an enthusiastic and innovative
                            mind. Besides her passion for
                            robotics, she has a good experience
                            in the media and a great talent
                            for creating and designing.
                            She is proud of being one of
                            Aerobotix family members . ','poste':'Media','img':"/assets/img/Clubs/Aerobotix/board/media.png"},
                    {'nom':'NOURCHENE BARGUAOUI','description':"A brave and sociable engineer.
                            She is crazy enough to think
                            she can change the world.
                            Joining the Aerobotix's family
                was one of the best choices
                she has made.
                Her strategy was to focus on
                the members and to build a very
                strong connection with them. ",'poste':'Human Ressource','img':"/assets/img/Clubs/Aerobotix/board/rh.png"},
                    {'nom':'ALA EDDINE KRAIEM','description':"A adventurous engineering student
                            who has been an eurobot team
                            member for 2 years.
                            He's an electronics expert and a
                        dreamer. He always comes up with
                        crazy ideas and that's what makes
                            him special. When it comes to
                            projects, he never messes around. ",'poste':'Exposition','img':"/assets/img/Clubs/Aerobotix/board/expo.png"},
                    {'nom':'HAZAR BOUGHANMI','description':'An ambitious and driven
                            engineer who always thrives
                            on challenges and constantly
                            set goals for herself.
                            She has always something to strive
                            toward. She finds this pressure
                            inspiring and a great motivator
                            for the rest of the members.','poste':'Drone Manager','img':"/assets/img/Clubs/Aerobotix/board/drone.png"},
                    {'nom':'AWNI MEJRI','description':' An ambitious and systematic
                            industrial automation engineer
                            who has a great passion for
                            learning and discovering.
                            He loves working on robotics
                            as well as developing himself. ','poste':'Material Manager','img':"/assets/img/Clubs/Aerobotix/board/mater.png"},
                    {'nom':'AZIZ BEN GANDIA','description':'A second year chemersty student
                            who is so passionate about
                            robotics. He has a good yet
                            strange way of communicating.
                            He is great at convincing
                            and debating. Being a member
                            of Aerobotix family was one
                            of his best decisions.  ','poste':'Sponsoring','img':"/assets/img/Clubs/Aerobotix/board/sponso.png"},
                    {'nom':'MOHAMED LOUKIL','description':"A driven, aspiring engineer
                            who has been tracking
                            planes with a laptop's
                        radar from his house's
                            roof since his childhood.
                            His dream is joining one
                            of the most influential
                            aeronautics and space
                            companies around the world. ",'poste':'Aeromodelisme Manager','img':"/assets/img/Clubs/Aerobotix/board/aeromod.png"},
                    {'nom':'MAROUENE KAANICHE','description':"A persevering and commited
                            engineer. He's full of spirit
                and energy and will always
                preform at his best.
                He he seeks to help our newcomers
                land their first steps towards
                a brightful career as robotics
                enthusiasts .",'poste':'Training Manager','img':"/assets/img/Clubs/Aerobotix/board/formation.png"}
                ] #}
                {{ include('clubPage/fragments/Staff.html.twig',{}) }}


            </div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="owl-carousel testimonials-carousel">

        </div>

    </div><!-- End Testimonials  -->

</section><!-- End About Section -->