{% extends 'base.html.twig' %}
{% block title %}   {{  club.name }} {% endblock %}
{% block favicon%}
    <link rel="shortcut icon" href="/assets/img/Clubs/faviconClub.png" type="image/x-icon">
{% endblock %}

{% block header %}
    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container">

            <h1><a href="index.html">{{ club.getName()}}</a></h1>
            <h2>{{ club.getOtherInformation()}}</h2>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link" href={{ path('home') }}>Home</a></li>
                    <li><a class="nav-link active" href="#header">Club</a></li>
                    <li><a class="nav-link" href="#about">About</a></li>
                    <li><a class="nav-link" href="#registration">Registration</a></li>
                    <li><a class="nav-link" href="#products">Products</a></li>
                    <li><a class="nav-link" href="#portfolio">Main Events</a></li>
                    <li><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            <div class="social-links">
                <div>
                    <a  href={{ club.getTwitter()}} class="twitter"><i class="bi bi-twitter"></i></a>
                    <a  href={{ club.getFacebook()}} class="facebook"><i class="bi bi-facebook"></i></a>
                    <a  href={{ club.getInstagram()}} class="instagram"><i class="bi bi-instagram"></i></a>
                    <a  href={{ club.getLinkedin()}} class="linkedin"><i class="bi bi-linkedin"></i></a>
                    <a  href={{ club.getYoutube()}}class="youtube"><i class="bi bi-youtube"></i></a>

                </div>
                <div class="container embed-responsive embed-responsive-16by9">
                    <iframe width="500" height="250"  title="YouTube video player"   frameborder="0" src={{ club.getVid1()}}
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <iframe width="500" height="250"  title="YouTube video player" src={{ club.getVid2()}}
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>


        </div>
    </header><!-- End Header -->
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/60c4179c65b7290ac6358990/1f7uvoetn';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
{% endblock %}
{% block css %}
    {{ parent() }}
    <style>
        #follow-button {
            color: #eb345b;
            font-family: "Helvetica";
            font-size: 10pt;
            border: 1px solid;
            border-color: #eb345b;
            border-radius: 3px;
            width: 85px;
            height: 30px;
            top: 50px;
            left: 50px;
            cursor: hand;
        }
    </style>
{% endblock %}
{%block JS  %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js  "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.min.js"></script>
    <script >
        $(document).ready(function(){
            $("#follow-button").click(function(){
                if ($("#follow-button").text() == "+ Follow"){
                    // *** State Change: To Following ***
                    // We want the button to squish (or shrink) by 10px as a reaction to the click and for it to last 100ms
                    $("#follow-button").animate({ width: '-=10px' }, 100, 'easeInCubic', function () {});

                    // then now we want the button to expand out to it's full state
                    // The left translation is to keep the button centred with it's longer width
                    $("#follow-button").animate({ width: '+=45px', left: '-=15px' }, 600, 'easeInOutBack', function () {
                        $("#follow-button").css("color", "#fff");
                        $("#follow-button").text("Following");

                        // Animate the background transition from white to green. Using JQuery Color
                        $("#follow-button").animate({
                            backgroundColor: "#eb345b",
                            borderColor: "#eb345b"
                        }, 1000 );
                    });
                }else{

                    // *** State Change: Unfollow ***
                    // Change the button back to it's original state
                    $("#follow-button").animate({ width: '-=25px', left: '+=15px' }, 600, 'easeInOutBack', function () {
                        $("#follow-button").text("+ Follow");
                        $("#follow-button").css("color", "#eb345b");
                        $("#follow-button").css("background-color", "#ffffff");
                        $("#follow-button").css("border-color", "#eb345b");
                    });
                }
            });
        });</script>
{% endblock %}
{% block body %}
    {{ include('clubPage/fragments/SectionAbout.html.twig',{}) }}
    {{ include('clubPage/fragments/SectionRegistration.html.twig',{}) }}
    {{ include('clubPage/fragments/SectionEvents.html.twig',{}) }}
    <section id="products" class="portfolio">
        {{ include('clubPage/fragments/SectionProducts.html.twig',{}) }}
    </section>
    {{ include('clubPage/fragments/SectionContact.html.twig',{'variable':'valeur'}) }}
{% endblock %}
