{%  for valeur in Rotateboxs %}
    <!-- start rotate box item -->

    <div class="col col-sm-8 md-margin-30px-bottom wow animate__fadeIn" data-wow-delay="0.2s" style="margin-bottom:20px" visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
    <div class="rm-rotate-box text-center">
        <div class="flipper to-left">
            <div class="thumb-wrap">
                <div class="front overflow-hidden h-480px border-radius-20px overflow-hidden lg-h-450px" style="background-image:url({{valeur['img']}}); background-position: center; background-size: contain">
                    <div class="opacity-medium-2 bg-gradient-extra-dark-gray-transparent"></div>
                    <div class="content-wrap padding-15px-lr">
                        <span class="text-white text-large letter-spacing-1px margin-10px-bottom text-uppercase alt-font d-inline-block font-weight-500">{{valeur['name']}}</span>
                        <span class="text-white opacity-6 text-medium text-uppercase letter-spacing-1-half alt-font d-block">{{valeur['domain']}}</span>
                    </div>
                </div>
                <div class="back border-radius-4px overflow-hidden">
                    <div class="overlay-bg {{valeur['color']}}"></div>
                    <div class="content-wrap padding-60px-all lg-padding-30px-lr md-padding-40px-lr xs-padding-30px-all">
                        <a href="#"><i class="fas fa-plus-circle icon-large text-white margin-35px-bottom"></i></a>
                        <span class="text-white text-extra-medium letter-spacing-1px font-weight-500 text-uppercase alt-font d-block margin-10px-bottom">{{valeur['name']}}</span>
                        <p class="text-white opacity-7">{{valeur['description']}}</p>

                        <a href={{ path('club')}} class="btn btn-link thin btn-extra-large text-extra-dark-gray">Discover more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end rotate box item -->
{%  endfor %}