{% extends 'base.html.twig' %}

{% block title %}Hello ProduitTestController!{% endblock %}


{% block body %}

    {% if total==null %}
        <div style="margin-top:100px" class="alert alert-danger">
            Produit introuvable
        </div>
    {% else %}
        <div style="margin-top: 100px">

            <div class=" ginlined-content container" ">
            <nav aria-label="Page navigation example" >
                <ul class="pagination">

                    <li class="page-item"><a class="page-link" href={{ path('all',{'page':max(1,app.request.attributes.get('page')-1),'number':'6'}) }}><</a></li>
                    {%for i in minpage..maxpage %}
                        <li class="page-item "><a class="page-link" href={{ path('all',{'page':i,'number':'6'}) }}>{{ i }}</a></li>
                    {% endfor %}
                    <li class="page-item"><a class="page-link" href={{ path('all',{'page':min(pages,app.request.attributes.get('page')+1),'number':'6'}) }}>></a></li>

                </ul>
            </nav></div>
        </div>



        {{  include('clubPage/fragments/SectionProducts.html.twig',{'table':Produits}) }}
    {% endif %}
{% endblock %}
